export RENOVATE_TOKEN=$(envchain workshop env | grep RENOVATE_TOKEN | cut -d'=' -f2)
export GITHUB_COM_TOKEN=$RENOVATE_TOKEN
export DOCKER_HUB_USERNAME=$(envchain workshop env | grep DOCKER_HUB_USERNAME | cut -d'=' -f2)
export DOCKER_HUB_TOKEN=$(envchain workshop env | grep DOCKER_HUB_TOKEN | cut -d'=' -f2)
